---
title: Welcome to Middleman
---

<div class="hero hero-bg text-center" id="main">
  <%= image_tag 'hammer_and_sickle.png', height: "100x100" %>
  <h1 class="text-center fg-accent"><b>The Red Plan</b></h1>
  <h3 class="text-center">The modern universal program manifest for communistic organization</h3>
</div>
