---
title: Welcome to Middleman
---

<div class="hero hero-bg text-center" id="main">
  <%= image_tag 'hammer_and_sickle.png', height: "100x100" %>
  <h1 class="text-center fg-accent"><b>The Red Plan</b></h1>
  <h3 class="text-center">The modern universal program manifest for communistic organization</h3>
  <a href="https://www.bard.edu/library/arendt/pdfs/Marx-CommunistManifesto.pdf" class="command-button fg-white" download>
    <span class="mif-download icon"></span>
    <span class="caption">
                  The Red Plan
                  <small>v<span class="version-number text-bold">0.0.0</span></small>
    </span>
  </a>
</div>
<div class="container-fluid text-left pt-10 pb-20" id="Overview">
  <div class="container text-center">
    <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">The ghost of communism is haunting the world</span></div>
  </div>
</div>